# Ignore all log
*.log

# Ignore outputs
output/

# Ignore pycache
__pycache__/

# Ignore test pages
*.html

# Ignore DS_Store
.DS_Store

# Ignore vscode specific files
.vscode/

# Ignore user config
config.yaml